# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- ENVIRONNEMENTS VIRTUELS ---
venv/
env/
.venv/
.env

# --- DONNÉES & STOCKAGE (SÉCURITÉ MAXIMALE) ---
# On ignore le dossier data, qu'il soit à la racine ou dans app
data/
app/data/
data_store/
*.db
*.sqlite3
*.json
*.csv
*.pdf

# --- EXCEPTIONS (Si vous avez des json de config à garder) ---
!app/templates/*.json

# --- IDE & SYSTÈME ---
.DS_Store
.vscode/
.idea/

# --- LOGS ---
*.log

serviceAccountKey.json
